<h1>UserShows#index</h1>
<p>Find me in app/views/user_shows/index.html.erb</p>

<% @usershows.each do |usershow| %>
  <div>
    <%= usershow.show.title %>
    <%= usershow.show.imdb %>
  </div>
<% end %>
