/*changes made to the user_show index and show pages*/

.series-card{
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-around;
  // border: .2px solid white;
  box-shadow: 1.5px 1.5px 10px #999999;
}

.series-body{
  padding: 10px;
}
/* .series-index-action{
 }*/

.series-action-icons{
  margin: 5px;
  }
a{
  //same as #999999
  color: rgb(153,153,153);
}
i{
  //same as #999999
  color: rgb(153,153,153);
}
