// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

//aligns items inside the parent div
body{
  background-color: rgb(15, 15, 15);
  color: rgb(230,230,230);
}

.margin{
  margin-top: 60px;
}

.flex{
  display: flex;
}

.search-div{
  margin: 20px;
  text-align: center;
}

li{
  list-style: none;
}

.buffer{
  margin: 5px;
}

.center{
justify-content: center;
align-items: center;
}

.review-mod-style{
  color: rgb(15, 15, 15);
}
.review-modal-header{
  color: rgb(15, 15, 15);
}
